<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <appSettings>
    <add key="ImplantFolder" value ="c:\src\launchpad\LaunchpadOSC\ImplantPlayer\implants"/>
    <add key="WebFolder" value ="c:\src\launchpad\LaunchpadOSC\ImplantPlayer\wwwroot"/>
    <add key="SessionFolder" value ="c:\src\launchpad\LaunchpadOSC\ImplantPlayer\"/>
    <add key="OscPort" value ="8000"/>
    <add key="OscRemoteIP" value ="192.168.0.22"/>
    <add key="OscLocalIP" value ="192.168.0.22"/>
  </appSettings>  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
</configuration>